* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: bold;
  }
  


/*-----------header - begin----------------------*/


  
.header {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 30px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}

.header-wrapper {
  max-width: 100%;
  margin: auto;
  padding: 0 15px;
  z-index: 1;
  position: relative;
}

.header::after {
  content: "";
  opacity: 0.6;
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
     
}


.nav-menu {
  padding-left: 0;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-item:nth-child(n + 2) {
  list-style-type: none;
  margin-left: 35px;
}

.nav-link {
  display: block;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  font-family: OpenSans-Regular, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  
}

.nav-link:hover {
  color: #b59f5b;
}

.nav-button {
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}


.nav-button:before, 
.nav-button:after {
  content: "";
  width: 100%;
  height: 25%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.nav-button:before {
  top: 0;
}

.nav-button:after {
  bottom: -5px;
  }

.nav-button-label {
  width: 100%;
  height: 25%;
  
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  
}

.header-welcome {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.header-title {
  font-size: 45px;
  line-height: 1.6;
  color: #ffffff;
  font-weight: 700;
  font-family: OpenSans-Bold, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  
  padding: 120px 0;
}

/* ------- header --- MEDIA FUNKCJE-------- */

@media (max-width: 640px){
  .header {
    background-image: url(../images/banner-mobile.jpg);
   }
    
  .header-title {
    padding-top: 1em;
    font-size: 26px;
    width: 80%;
    padding-bottom: 120px;
  }

  .header-welcome {
    width: 80%;
  }

  .panel {
    align-items:flex-start;
   
  }

  .panel-logo {
    margin: auto;
  }

  .logo {
  width: 269px;
  height: 61px;
  margin-top: 120px;
  }

  .nav-button {
    left: -15px;
  }
     
}

@media (min-width: 641px) and (max-width: 1199px){
.header {
  background-image: url(../images/banner-bg-tablet.jpg);
}
 
.header-wrapper {
  padding: 0 35px;
  margin: 0;
}

.header-title {
  padding-top: 1em;
  font-size: 40px;
  width: 80%;
  padding-bottom: 120px;
}

.logo {
  width: 158px;
  height: 36px;
  margin-top: 20px;
  }
}


@media (max-width: 1199px) {
  .nav-menu {
    display: none;
  }
}  

@media (min-width: 1200px){
.header {
  background-image: url(../images/banner-bg.jpg);
}

.header-title {
  max-width: 680px;
}

.container {
  min-width: 1200px;
}

.logo {
width: 158px;
height: 36px;
margin-top: 20px;
}

.nav-button {
  display: none;
}
}




/*-----------header - end----------------------*/








/*-------trends-begin-----*/

  .trends {
 display: block;
  margin-top: 55px;
 
  }

  .trend-box {
    flex-wrap: wrap;
    display: flex;
  }

   
  .trend-card {
  
  line-height: 1.2;
  text-align: left;
  position: relative;
  color: #ffffff;
  }

  @media (min-width: 641px){
  .trend-card:nth-child(n+2){
  margin-left: 5px;
  }
  }

  @media (max-width: 640px){
    .trend-card {
        max-width: 100vw;
        font-size: 16px;
    }
    }

  @media (min-width: 641px) and (max-width: 1199px){
  .trend-card {
    max-width: 50vw;
    font-size: 17px;
  }
  }

  @media (min-width: 1200px){
  .trend-card {
    max-width: 25vw;
    font-size: 20px;
  }
  }

  .trend-img {
    max-width: 100%;
    flex-grow: 1;

  }

  .trend-meta {
  margin-bottom: 10px;
  }

  .trend-title-link {
  text-decoration: none;
  color: #ffffff;
  font-family: OpenSans-Bold, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  
  }

  .trend-title-link:hover {
  color: #b59f5b;
  }

  .trend-content {
  box-sizing: content-box;
  
    position: absolute;
    padding: 35px;
    bottom: 15px;
    left: 20px;
    right: 20px;
    border-style: solid;
    border-width:  3px;
    border-color: rgb(181, 159, 91, 0.6);
  }

  .trend-background {
    max-width: 100%;
    flex-grow: 1;
  }

  .trend-background:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.6;
  background-color: #000000;
 }





/*-------trends-end-----*/






/*-------content-begin-----*/


  .content {
    max-width: 1200px;
    margin: auto;
    margin-top: 63px;
 
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  } 

  @media (max-width: 640px){
    .content {
      flex-wrap: wrap;
      }
    }

/*-------content-end-----*/

/*-------main-begin-----*/

  .main {
    margin-bottom: 63px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .last-news {
    margin-right: 15px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .last-news:nth-child(n + 2) {
    margin-top: 60px;
  }
  
  .last-news-preview {
    max-width: 380px;
    margin-bottom: 10px;
   
  }
  
  .last-news-content {
    display: flex;
    margin: auto;
    justify-content: center;
  }

  .last-news-preview-content {
    max-width: 380px;
    
  }
  
  .last-post-img-big {
    width: 100%;
  }

  .preview-meta {
    display: flex;
    list-style-type: none;
  }
  
  .preview-tag:nth-child(n + 2) {
    margin-left: 20px;
  }
  
  .preview-tag-link {
    text-decoration: none;
    color: #b59f5b;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .preview-tag-link:hover {
    color: darkkhaki;
  }
  
  .preview-title {
    margin-top: 15px;
  }
  
  .preview-title-link {
    text-decoration: none;
    color: #000000;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 37px;
  }
  
  .preview-title-link:hover {
    color: #b59f5b;
  }
  
  .meta-dane-post {
    margin-top: 15px;
  }
  
  .last-post-date {
    color: #888888;
    font-size: 12px;
    margin-right: 10px;
  }
  
  .preview-author {
    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 12px;
  }
  
  .preview-description {
    margin-top: 35px;
  }
  
  .preview-text {
    color: #000000;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 24px;
  }
  

/* -----main  ---   MEDIA FUNKCJE */

@media (max-width: 640px) {
  .last-news {
    flex-direction: column;
    align-content: space-evenly;
  }
}
  


@media (min-width: 641px) and (max-width: 1199px){
  .main {
  width: 60%;
  }

  .last-news {
    flex-direction: column;
    align-content: space-evenly;
  }
}



@media (max-width: 1199px){
  .last-news::after{
  content: "";
  display: block;
  
  margin-left: auto;
  margin-right: auto;
 

  max-width: 380px;
  height: 3px;
  background-color: #eeeeee;
  }
}


/*-------main-end-----*/











/*-------sidebar-begin-----*/

  .sidebar {
    min-width: 285px;
    max-width: 360px;
    margin-left: auto;
    margin-right:auto;
   
  }
  
  
 .last-posts-bar {
    margin-left: auto;
    margin-right: auto;
 }

 .last-news-bar {
    margin-left: auto;
    margin-right: auto;
 }

  .last-news-title-bar {
    text-align: center;
    margin-bottom: 0px;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
  }
  
  .last-news-title-bar::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 28px;
    width: 65px;
    height: 3px;
    background: #b59f5b;
  }
  
  .last-post-header-bar {
    
    display: flex;
    
    margin-bottom: 20px;
    align-items: flex-start;
  }
  
  .last-post-img-small {
    width: 70px;
  }
  
  .last-post-date-title-bar {
    padding-left: 20px;
  }
  
  .last-post-date {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    opacity: 0.54;
  }
  
  .last-post-bar-link {
    text-decoration: none;
    color: #000000;
  
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
  }
  
  .last-post-bar-link:hover {
    color: #b59f5b;
  }
  
/*-------sidebar-end-----*/












/*-------form-begin-----*/

  .form-subscription {
    margin-top: 60px;
  }
  
  .form-search {
    margin-top: 60px;
    display: flex;
    width: 100%;
  }
  
  .hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .search-group{
    width: 100%;
  }

  .search-button {
    border: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: #b59f5b;
  }
  
  .search-field {
    box-sizing: border-box;
    padding: 6px 12px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
    outline: none;
  }
  
  .field-subscription {
    box-sizing: border-box;
    padding: 6px 12px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
  }
  
  .button-subscription {
    margin-top: 18px;
    height: 48px;
    border: none;
    width: 100%;
    background-color: #b59f5b;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
  }
  
  .subscription-text {
    text-align: center;
    margin-bottom: 0px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    min-height: 1.3;
  }
  
  .subscription-text::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 28px;
    width: 65px;
    height: 3px;
    background: #b59f5b;
  }
  
/*-------form-end-----*/













/*-------meta-tegs-themes-begin-----*/


  .meta-section {
    margin-top: 60px;
  }
  
  .meta-title {
    text-align: center;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .meta-title::after {
    content: "";
    display: block;
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 28px;
  
    width: 65px;
    height: 3px;
    background: #b59f5b;
  }
  
  .tags-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    margin-bottom: 6px;
    margin-right: 4px;
    border: 3px solid #f4f3f1;
  }
  
  .tag-link {
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
  
    padding: 7px 11px;
  }
  
  .tag-link:hover {
    color: #b59f5b;
  }
  
  .tag:hover {
    background: #f4f7f6;
  }
  
  .theme-section {
    margin-top: 60px;
  }
  
  .theme-title {
    text-align: center;
  
    margin-bottom: 0px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
  }
  
  .theme-title::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 28px;
    width: 65px;
    height: 3px;
    background: #b59f5b;
  }
  
  .thems-list {
    list-style: none;
  }
  
  .theme {
    margin-top: 14px;
    margin-left: 3px;
  }
  
  .theme:after {
    content: "";
    display: block;
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 1px;
    background: #eeeeee;
  }
  
  .theme-link {
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 14px;
    padding: 0 5px 0 0;
  }
  
  .theme-link:hover {
    color: #b59f5b;
  }
  
  .count-thems {
    display: inline-block;
    vertical-align: top;
    color: #b59f5b;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
  }
  

/*-------meta-tegs-themes-end-----*/











/*   product-begin   */


.products {
   
  margin-top: 63px;  
 
}

.products-wrap {
  
  width: 100%;
  margin: auto;
  padding: 0 15px;
  
}

.products-box {
  display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 
}

.product {

  font-family: OpenSans-Bold, sans-serif;
}

.product:nth-child(n+2){
  margin-left: 50px;

}

@media (max-width: 640px){
    .product {
    max-width: 100%
    }
}

@media (min-width: 641px) and (max-width: 1199px){
  .product {
    max-width: 50%;
  }
}

@media (min-width: 1200px){
  .product {
    max-width: 33.333%;
  }
}

.product_imgbox {
  max-width: 300px;
}

.product_img {
  width: 100%;
}

.product__body {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  width: 300px; 
  position: relative;
  padding-top: 15px;
}

.product__body:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 120%;
  height: 240px;
  left: -20px;
  top: -35px;
  border: 3px solid #b59f5b;
  
}




.product__content {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
}

.product__title {
  font-family: OpenSans-Bold, sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
}

.product__description {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
}

 /* p {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
  margin-top: 0;
  line-height: 1.5;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  }*/

.product-link {
  text-decoration: none;
  color: #b59f5b;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
}


.product__footer {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  
  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.product__prices {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
}

.product__price {

  font-size: 24px;
  font-weight: 700;
  color: #222222;
  line-height: 1;
  display: flex;
}


.product__price_old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
}

.product__price-value {
  font-family: OpenSans-Bold, sans-serif;
  font-weight: 700;
  color: #222222;
  line-height: 1;
  font-size: 20px;
}

.product__rub {
  margin-left: .2em;

}

.product__button {

  border: none;
  background-color: #b59f5b;
  padding: 1em 1.8em;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;

}



/*   product-end   */








/*-------footer-begin-----*/

  .footer {
    margin-top: 70px;
  }
  
  .footer-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
  
  .articles-socials {
    margin-bottom: 20px;
    background-color: #f4f7f6;
    padding: 30px 0;
  }
  
  .socials {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .socials-link-text {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .socials-item:not(:first-child) {
    margin-left: 10px;
  }
  
  .socials-link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
  }
  
  .socials-link-tumblr {
    background-image: url(../svg/003-tumblr.svg);
  }
  
  .socials-link-pinterest {
    background-image: url(../svg/001-pinterest.svg);
  }
  
  .socials-link-facebook {
    background-image: url(../svg/002-facebook-logo.svg);
  }
  
  .socials-link-instagram {
    background-image: url(../svg/005-instagram.svg);
  }
  
  .socials-link-twitter {
    background-image: url(../svg/004-twitter.svg);
  }
  
  .copyright-link {
    text-decoration: none;
    color: #999999;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    display: block;
  }
  

/*-------footer-end-----*/

/*-----POPUP-begin--------*/
  .popup {
    display: none;
  }
  .popup__close {
    width: 1.4em;
    height: 1em;
    font-size: 20px;
  
    position: absolute;
    top: -1.5em;
    right: 0;
  }
  
  .popup__close:before,
  .popup__close:after {
    width: 1.4em;
    height: 0.2em;
  }
  
  @media (max-width: 481px) {
    .popup__close {
      font-size: 15px;
    }
  }

/*-----POPUP-end------*/