* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: bold;
  }
  


/*-----------header - begin----------------------*/


  
.header {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 30px 0;
  z-index: 0;
}

.header-wrapper {
  max-width: 100%;
  margin: auto;
  padding: 0 15px;
  z-index: 1;
  position: relative;
}

.header::after {
  content: "";
  opacity: 0.6;
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  padding-left: 0;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-item:nth-child(n + 2) {
  list-style-type: none;
  margin-left: 35px;
}

.nav-link {
  display: block;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  font-family: OpenSans-Regular, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link:hover {
  color: #b59f5b;
}

.nav-button {
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.nav-button:before, 
.nav-button:after {
  content: "";
  width: 100%;
  height: 25%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.nav-button:before {
  top: 0;
}

.nav-button:after {
  bottom: -5px;
}

.nav-button-label {
  width: 100%;
  height: 25%;
  
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.header-welcome {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


.header-title {
  font-size: 45px;
  line-height: 1.6;
  color: #ffffff;
  font-weight: 700;
  font-family: OpenSans-Bold, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 0;
}

/* ------- header --- MEDIA FUNKCJE-------- */

@media (max-width: 640px){
  .header {
    background-image: url(../images/banner-mobile.jpg);
  }
    
  .header-title {
    padding-top: 1em;
    font-size: 26px;
    width: 80%;
    padding-bottom: 120px;
  }

  .header-welcome {
    width: 80%;
  }

  .panel {
    align-items:flex-start;
  }

  .panel-logo {
    margin: auto;
  }

  .logo {
    width: 269px;
    height: 61px;
    margin-top: 120px;
  }

  .nav-button {
    left: -15px;
  }
    
  .nav {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 641px) and (max-width: 1199px){
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }
  
  .header-wrapper {
    padding: 0 35px;
    margin: 0;
  }

  .header-title {
    padding-top: 1em;
    font-size: 40px;
    width: 80%;
    padding-bottom: 120px;
  }

  .logo {
    width: 158px;
    height: 36px;
    margin-top: 20px;
  }
}


@media (max-width: 1199px) {
  .nav-menu {
    display: none;
  }
}  

@media (min-width: 1200px){
  .header {
    background-image: url(../images/banner-bg.jpg);
  }

  .header-title {
    max-width: 680px;
  }

  .logo {
    width: 158px;
    height: 36px;
    margin-top: 20px;
  }

  .nav-button {
    display: none;
  }
}




/*-----------header - end----------------------*/








/*-------trends-begin-----*/

  .trends-container {
    width: 100%;
  }

  .trends {
    display: block;
    margin-top: 55px;
  }

  .trend-box {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  .trend-card {
    line-height: 1.2;
    text-align: left;
    margin-bottom: 5px;
  }

  .trend-background-one {
    background-image: url(../images/trend1.jpg);

    color: #ffffff;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
    margin-bottom: 5px;
  }

  .trend-background-two {
    background-image: url(../images/trend2.jpg);

    color: #ffffff;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
    margin-bottom: 5px;
  }
    
  .trend-background-three {
    background-image: url(../images/trend3.jpg);

    color: #ffffff;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
    margin-bottom: 5px;
   }
  
  .trend-background-four {
    background-image: url(../images/trend4.jpg);

    color: #ffffff;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
    margin-bottom: 5px;
  }
    

  .trend-card::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.6;
    background-color: #000000;
 }

  .trend-wraper {
    
    width: 100%;
    max-height: 100%;
    margin: auto 0 0;
   
    z-index: 1;
    position: relative;
  }

  .trend-contentfull {
   align-self: flex-end;
  }

  .trend-meta {
    margin-bottom: 5px;
  }

  .trend-header {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-title {
    line-height: 1.2;
  }

  .trend-title-link {
    text-decoration: none;
    color: #ffffff;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;


    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .trend-title-link:hover {
    color: #b59f5b;
  }

  .trend-content {
    max-height: 100%;
    margin: 15px 1em;
    padding: 1.1em;
    border: 3px solid;
    border-color: rgba(181, 159,91, 0.6);
  }


/* ------------TRENDS MEDIA FINKCJE   ----------- */


  @media (max-width: 640px) {
    
    .trends-title-link {
      font-size: 16px;
    }

    .trend-card {
      width: 100%;
      height: 48vmax;
    }

    .trend-title {
      font-size: 16px;
      line-height: 1.2;
    }

    .trend-content {
      margin: 0.8em;
      padding: 0.9em;
    }
  }

  
  @media  (max-width: 640px) and (orientation: landscape) {

    .trends-title-link {
      font-size: 18px;
    } 
    .trend-card {
      width: 49.75%;
    }
    .trend-title {
      font-size: 14px;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px) {
    
    .trends-title-link {
      font-size: 18px;
    }
      
    .trend-card {
      width: 49.75%;
      height: 24vmax;
    }
    .trend-title {
      font-size: 17px;
    }
  }

  

  @media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    
    .trends-title-link {
      font-size: 20px;
    }
    
    .trend-card {
      width: 24.75%;
    }

    .trend-content {
      padding: 0.4em;
    }

    .trend-title {
      font-size: 14px;
    }
  }


  @media (min-width: 1200px){

    .trends-title-link {
      font-size: 20px;
    }

    .trend-card {
      width: 24.75%;
      height: 20vmax;
    }
    .trend-title {
      font-size: 20px;
    }
  }

  
/*-------trends-end-----*/






/*-------content-begin-----*/


  .content {
    max-width: 1200px;
    margin: auto;
    margin-top: 58px;
 
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  } 

  @media (max-width: 640px){
    .content {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px) {
    .content {
      padding: 0 35px;
    }
  }   

/*-------content-end-----*/

/*-------main-begin-----*/

  .main {
    margin-bottom: 63px;
    max-width: 100%;
  }
  
  .last-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .last-news:nth-child(n + 2) {
    margin-top: 50px;
  }
  
  .last-news-preview {
    margin-bottom: 10px;
    padding-right: 15px;
  }
  
  .last-news-content {
    display: flex;
    margin: 0 auto;
    padding-left: 15px;
    justify-content: center;
  }

  .last-news-preview-content {
    max-width: 380px;
  }
  
  .last-post-img-big {
    width: 100%;
  }

  .preview-meta {
    display: flex;
    flex-wrap:wrap;
    list-style-type: none;
  }
  
  .preview-tag {
    margin-right: 20px;
  }
  
  .preview-tag-link {
    text-decoration: none;
    color: #b59f5b;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .preview-tag-link:hover {
    color: darkkhaki;
  }
  
  .preview-title {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .preview-title-link {
    text-decoration: none;
    color: #000000;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
  }
  
  .preview-title-link:hover {
    color: #b59f5b;
  }
  
  .meta-dane-post {
    font-size: 12px;
    line-height: 3.3;
  }
  
  .last-post-date {
    color: #888888;
    
    margin-right: 10px;
    font-family: OpenSans-Regular, sans-serif;
  }
  
  .preview-author {
    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
  }
  
  .preview-text {
    color: #000000;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    padding-bottom: 20px;
  }
  

/* -----main  ---   MEDIA FUNKCJE */

@media (max-width: 640px) {
  .content, .main {
    max-width: 360px;
  }

  .main {
    margin-bottom: 45px;
  }

  .last-news {
    flex-direction: column;
    margin-right: auto;
  }

  .last-news-preview, .last-news-content {
    padding: 0;
  }
  
  .preview-title {
    font-size: 16px;
  }

  .preview-text {
    font-size: 14px;
  }

}

@media (min-width: 641px) and (max-width: 1199px) {
  .last-news-preview {
    padding-left: 15px;
  }

  .content {
    justify-content: center;
    max-width: 760px;
  }
}

@media (max-width: 1199px){
  .last-news::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
  }
}

@media (min-width: 641px) and (max-width: 1199px), (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .main {
    width: calc(100% - 300px);
  }

  .last-news-preview, .last-news-content {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .last-news::after {
    width: calc(100% - 35px);
  }

  .preview-title {
    font-size: 17px;
  }
}


  



/*-------main-end-----*/











/*-------sidebar-begin-----*/

  .sidebar {
    width: 272px;
    margin-left: auto;
  }
  
  
 .last-posts-bar {
    margin-left: auto;
    margin-right: auto;
 }

 .last-post-bar {
    line-height: 1.2;
    text-align: left;
    font-size: 14px;
  }

 .last-news-bar {
    margin-left: auto;
    margin-right: auto;
 }

  .last-news-title-bar {
    text-align: center;
    margin-bottom: 0px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
  }
  
  .last-news-title-bar::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 28px;
    width: 65px;
    height: 3px;
    background: #b59f5b;
  }
  
  .last-post-header-bar {
    display: flex;
    
    margin-bottom: 20px;
    align-items: flex-start;
  }
  
  .last-post-img-small {
    width: 70px;
  }
  
  .last-post-date-title-bar {
    padding-left: 20px;
    font-size: 14px;
  }
  
  .last-post-date {
    font-size: 12px;
    
    text-decoration: none;
    color: #000000;
    opacity: 0.54;
  }
  
  .last-post-bar-link {
    text-decoration: none;
    color: #000000;
  
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
  }
  
  .last-post-bar-link:hover {
    color: #b59f5b;
  }
  



  /* ----------MEDIA FUNKCJE - SIDEBAR */
  @media (max-width: 640px) {
    .sidebar {
      width: 330px;
    }

    .last-news-title-bar {
      font-size: 16px;
    }
  }

  


/*-------sidebar-end-----*/












/*-------form-begin-----*/

  .form-subscription {
    margin-top: 60px;
  }
  
  .form-search {
    margin-top: 60px;
    display: flex;
    width: 100%;
  }
  
  .hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .search-group{
    width: 100%;
  }

  .search-button {
    border: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: #b59f5b;
  }
  
  .search-field {
    box-sizing: border-box;
    padding: 6px 12px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
    outline: none;
  }
  
  .field-subscription {
    box-sizing: border-box;
    padding: 6px 12px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
  }
  
  .button-subscription {
    margin-top: 18px;
    height: 48px;
    border: none;
    width: 100%;
    background-color: #b59f5b;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
  }
  
  .subscription-text {
    text-align: center;
    margin-bottom: 0px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
  }
  
  .subscription-text::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 28px;
    width: 65px;
    height: 3px;
    background: #b59f5b;
  }
  


  

/*-------form-end-----*/













/*-------meta-tegs-themes-begin-----*/


  .meta-section {
    margin-top: 60px;
  }
  
  .meta-title {
    text-align: center;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .meta-title::after {
    content: "";
    display: block;
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 28px;
  
    width: 65px;
    height: 3px;
    background: #b59f5b;
  }
  
  .tags-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    margin-bottom: 6px;
    margin-right: 4px;
    border: 3px solid #f4f3f1;
  }
  
  .tag-link {
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
  
    padding: 7px 11px;
  }
  
  .tag-link:hover {
    color: #b59f5b;
  }
  
  .tag:hover {
    background: #f4f7f6;
  }
  
  .theme-section {
    margin-top: 60px;
  }
  
  .theme-title {
    text-align: center;
  
    margin-bottom: 0px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
  }
  
  .theme-title::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 28px;
    width: 65px;
    height: 3px;
    background: #b59f5b;
  }
  
  .thems-list {
    list-style: none;
  }
  
  .theme {
    margin-top: 14px;
    margin-left: 3px;
  }
  
  .theme:after {
    content: "";
    display: block;
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 1px;
    background: #eeeeee;
  }
  
  .theme-link {
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 14px;
    padding: 0 5px 0 0;
  }
  
  .theme-link:hover {
    color: #b59f5b;
  }
  
  .count-thems {
    display: inline-block;
    vertical-align: top;
    color: #b59f5b;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
  }
  

/* MEDIA FUNKCJE FORM */
@media (max-width: 640px) {
  .subscription-text, .meta-title, .theme-title {
    font-size: 16px;
  }
}

/*-------meta-tegs-themes-end-----*/











/*   product-begin   */


.products {
  margin-top: 63px;  
}

.products-wrap {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.products-box {
  max-width: 1200px;
  margin: auto;
    
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 
.product {
  font-family: OpenSans-Bold, sans-serif;
  margin-bottom: 25px;
}

.product__imgbox {
  max-width: 300px;
  margin:auto;
}

.product__img {
  width: 100%;
}

.product__body {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  margin:auto;
  height: 200px;
  position: relative;
  padding-top: 15px;
  box-sizing: content-box;
  max-width: 300px;
  z-index: 0;
}

.product__body:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  outline: 3px solid #b59f5b;
  outline-offset: 20px;
  z-index: -1;
}




.product__content {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
}

.product__title {
  font-family: OpenSans-Bold, sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
}

.product__description {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;

  overflow: hidden; 
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

}

.product-link {
  text-decoration: none;
  color: #b59f5b;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
}

.product__footer {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.product__prices {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
}

.product__price {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
  line-height: 1;
  display: flex;
}

.product__price_old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
}

.product__price-value {
  font-family: OpenSans-Bold, sans-serif;
  font-weight: 700;
  color: #222222;
  line-height: 1;
  font-size: 20px;
}

.product__rub {
  margin-left: .2em;
}

.product__button {
  border: none;
  background-color: #b59f5b;
  padding: 1em 1.8em;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}


/* --------------PRODUCT MEDIA FUNKCJE  ------------ */


@media (max-width: 640px){

    .products {
     margin-top: 45px;
    }
    .product {
      width: 100%
    }

    .products-box {
      padding: 0 20px;
    }   

    .product__body:before {
      outline-offset: 17px;
    }
}

@media (min-width: 641px) and (max-width: 1199px){
  .product {
    width: 45%;
  }

  .products-wrap {
    padding: 0;
  }  

  .products-box {
    padding: 0 55px;
  }   
}

@media (min-width: 1200px){
  .product {
    width: 33.333%;
  }
}


/*   product-end   */








/*-------footer-begin-----*/

  .footer {
    margin-top: 70px;
  }
  
  .footer-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
  
  .articles-socials {
    margin-bottom: 20px;
    background-color: #f4f7f6;
    padding: 30px 0;
  }
  
  .socials {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .socials-link-text {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .socials-item:not(:first-child) {
    margin-left: 10px;
  }
  
  .socials-link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
  }
  
  .socials-link-tumblr {
    background-image: url(../svg/003-tumblr.svg);
  }
  
  .socials-link-pinterest {
    background-image: url(../svg/001-pinterest.svg);
  }
  
  .socials-link-facebook {
    background-image: url(../svg/002-facebook-logo.svg);
  }
  
  .socials-link-instagram {
    background-image: url(../svg/005-instagram.svg);
  }
  
  .socials-link-twitter {
    background-image: url(../svg/004-twitter.svg);
  }
  
  .copyright-link {
    text-decoration: none;
    color: #999999;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    display: block;
  }
  

  /* ----MEDIA FOOTER ---- */
  @media (max-width: 640px) {
    .footer {
      margin-top: 70px;
    }
  }

/*-------footer-end-----*/

/*-----POPUP-begin--------*/



.block-hidden {
visibility: hidden;
}



.wrapper-close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 400px;
  height: 615px; 
  margin: 50px auto;
  padding: 50px 30px;
  
  box-sizing: border-box;
  background-color: #ffffff;
  
}

.body-grey::before{
  content: "";
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.6;
}

.button-close {
  background: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  border-radius: 16px;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  left: calc(100% - 18px);
  bottom: calc(100% + 10px);
}

.button-close:hover {
  opacity: 0.6;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  background: white;
  
}

.popup {
  background-color: #ffffff;
}

.popup-header {
  text-align: center;
  font-family: Opensans-Bold, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 0;
  color: #0f0d0e;
}

.popup-header::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 65px;
  height: 3px;
  background: #b59f5b;
  opacity: 0.4;
}

.form-row:nth-child(n + 2) {
  margin-top: 25px;
}

.form-group {
  display: block;
}

.form-hint {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  font-family: Opensans-Regular, sans-serif;
}

.form-row:last-child {
  text-align: center;
}

.select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding-left: 20px;
  margin: 0;
  background-color: #f4f7f6;

  font-family: Opensans-Regular, sans-serif;
  font-size: 13px;
  color: #000000;
  opacity: 0.54;

  border: none; 
  outline: none;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select {
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 11px;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio-group-text::before {
  content: "";

  width: 20px;
  height: 20px;

  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;

  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.radio-group {
  font-size: 13px;
  font-family: Opensans-Regular, sans-serif;
}

.radio-group:nth-of-type(n + 2) {
  margin-left: 15px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}


textarea {
  box-sizing: border-box;

  width: 100%;
  
  resize: none;
  padding: 15px;
  background-color: #f4f7f6;
  font-size: 13px;
  color: #000000;
  opacity: 0.54;
  font-family: Opensans-Regular, sans-serif;
   
  border: none; 
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.button {
  border: none;
  padding: 15px 0;
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #b59f5b;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #323232;
}

.field:focus,
.select:focus,
.button:focus,
textarea:focus/*,
.radio:focus ~ .radio-group-text*/ {
  border: 1px solid #b59f5b;

  /*outline: 2px solid #b59f5b;
  outline-offset: 5px;*/
}


/*   --- POPUP  MEDIA FUNKCJE   --    */

@media (max-width: 640px){
  .wrapper-close {
    width: calc(90% - 15px);
    max-width: 330px;
    height: 590px;
    padding: 30px;
  }

  .button-close {
    width: 27px;
    height: 27px;
    left: calc(100% - 27px);
  }

  .form-row:nth-child(n + 2) {
    margin-top: 18px;
  }

 .popup-header {
    font-size: 16px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .wrapper-close {
    width: 380px;
    
  }

  .button-close {
    width: 27px;
    height: 27px;
    left: calc(100% - 27px);
  }

  .form-row:nth-child(n + 2) {
    margin-top: 25px;
  }

  .popup-header {
    font-size: 18px;
  }
}
/*-----POPUP-end------*/